body {
  background-color: antiquewhite;
}
.temperatura {
  background-color: yellow;
  margin: 20px;
  padding: 20px;
}

.temperatura h2, p {
 font-size: 24px;
 }
p {
  color: blue; 
}

.amzius {
  background-color: olivedrab;
  margin: 20px;
  padding: 20px;
  color: white;
}

.amzius h2, p {
  color: black;
}