body {
  background-color: antiquewhite;
}
.temperatura {
  background-color: yellow;
  margin: 20px;
  padding: 20px;
}

.temperatura h2, p {
 font-size: 24px;
 }
p {
  color: blue; 
}
.amzius {
  background-color: olivedrab;
  margin: 20px;
  padding: 20px;
  color: white;
}

.amzius h2, p {
  color: black;
}

.mase {
  background-color: brown;
  color: white;
  margin: 20px;
  padding: 20px;
}

button {
  margin-top: 10px;
}

input {
  margin-top: 10px;
}


/* Bandymas 10 uzduotis ---------- */

/* .secutyti {
  background-color: red;
  color: white;
  margin: 20px;
  padding: 20px;
}

#slaptazodis {
  font-size: 24px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

button {
  font-size: 18px;
  margin-top: 10px;
  padding: 4px 16px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  color: #333;
  cursor: pointer;
} */